*,

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:url("galaxy.jpg");
    background-size: 100%;

}

.topnav{
    overflow: hidden;
    background-color: #2a4590;
}

.topnav a{
    float: left;
    color : aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: blueviolet;
    color: rgb(161, 118, 118);
}

.topnav a.active {
    background-color: blue;
    color: white;
}

.container-content {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 30%;
    padding: 15px;
}

/* clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
    
.ul-content{
    font-size: 50px;
    color: aliceblue;
    display: flex;
    justify-content: center;
}

.li-content{
    font-size: 25px;
    color: aliceblue;
    display: flex;
    justify-content: center;

}

.container-footer{
    background-color: navy;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: georgian;
    height:10vh;
    font-size: 30px;
    color: aliceblue;
    margin:15px;
}
